/* General Reset */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    color: #b6b4b4;
}

/* Header */

/* Hero Section */
.hero {
    height: 70vh; /* Top half of the page */
    position: relative;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 40s infinite; /* Increased duration to 40s */
}

@keyframes slider {
    0% { background-image: url('pexels-ana-benet-8242968.jpg');
         background-size: cover; }
    25% { background-image: url('pexels-allan-carvalho-264847051-14920475.jpg');
          background-size: cover; }
    50% { background-image: url('https://via.placeholder.com/1200x500?text=Background+2');
          background-size: cover; }
    75% { background-image: url('https://via.placeholder.com/1200x500?text=Background+3'); }
    100% { background-image: url('https://via.placeholder.com/1200x500?text=Background+4'); }
}

/* <book bus ticket> */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Form */
.form-container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(78, 129, 231, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.form-field {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1;
    min-width: 150px;
}

.form-field input {
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.form-field .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #545858;
}

/* Buttons */
.form-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.date-btn, .search-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #5c73cf;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.date-btn:hover, .search-btn:hover {
    background-color: #071e41;
}

/* Footer */
footer {
    background-color: #f7f7f7;
    padding: 10px 20px;
    text-align: center;
}


/* container bus book ticket online */
.container {
    background-color: #f4f4f4;
    border-radius: 10px; /* Add rounded corners */

}
