
.coupons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.coupon-bg1 {
  background: linear-gradient(45deg, #060a80, #3147da);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.coupon-bg2 {
  background: linear-gradient(45deg, #437b89,  #044c57);
  color: #000;
}

.coupon-bg3 {
  background: linear-gradient(45deg, #b3ad13, #dc7514);
  background-size: cover;
  color: #fff;
}

.coupon-bg4 {
background: linear-gradient(45deg, #570348, #c724af);
  background-size: cover;
  color: #fff;
}

.coupon-bg5 {
background: linear-gradient(45deg, #af2648, #6e2121);
  color: #000;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.coupon {
  background-size: cover;
  background-position: center;
  border: 2px #fefefd;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #e8e5e5;
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: slideIn 0.4s ease-out forwards;
}

.coupon:nth-child(1) {
  animation-delay: 3.0s;
}

.coupon:nth-child(2) {
  animation-delay: 3.5s;
}

.coupon:nth-child(3) {
  animation-delay: 4.1s;
}

.coupon:nth-child(4) {
  animation-delay: 4.7s;
}

.coupon:nth-child(5) {
  animation-delay: 5.2s;
}

.coupon h1 {
  font-size: 24px;
  margin: 0 0 10px;
}

.coupon p {
  margin: 0 0 20px;
}

.code {
  background: rgba(0, 0, 0, 0.7);
  color: #d8d2c8;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  user-select: none;
}

.code:hover {
  background: rgba(0, 0, 0, 0.9);
}

.copied {
  margin-top: 15px;
  font-size: 14px;
  color: green;
  display: none;
}