body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  font-size: 14px;
}

.container {
  width: 60%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo styling */
.logo {
  text-align: center;
  margin-bottom: 20px;
  
}

.logo-img {
  max-width: 100px; /* Adjust this to the size you prefer */
  height: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
}

.signup-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.signup-btn:hover {
  background-color: #0056b3;
}

.upload-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.upload-section input {
  margin-right: 10px;
  width: calc(100% - 130px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
}

.upload-section button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.file-name {
  margin-left: 10px;
  font-size: 12px;
  color: #555;
  font-style: italic;
}

.terms-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.terms-section label {
  margin-left: 10px;
  font-size: 12px;
}
.terms-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.terms-section input[type="checkbox"] {
  margin-right: 10px;
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  background-color: #6c757d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  margin-left: 10px;
}

.login-btn:hover {
  background-color: #5a6268;
}